HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
bank_account/bank_account/.idea/**


### Maven wrapper files ###
cqrs-es/.mvn/**
bank_account/bank_account/account.cmd/.mvn/**
bank_account/bank_account/account.common/.mvn/**
bank_account/bank_account/account.query/.mvn/**

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### change to docker files ###
docker-installation-commands-mysql-mongo.txt
